<h1> Navigations </h1>

<div>
<%= link_to("Bike Tour", home_page_path, html_options = {}) %>
<%= link_to("Photos", photos_page_path, html_options = {}) %>
<%= link_to("Location", location_page_path, html_options = {}) %>
<%= link_to("Riders", riders_page_path, html_options = {}) %>
<%= link_to("Contest", new_contest_path, html_options = {}) %>
 </div>
<h1>THis is the home page.</h1>
<p>Add your all content here.</p>
